.input {
  /* margin: 2rem auto; */
  padding: 1rem;
  /* width: 90%; */
  max-width: 40rem;
  background-color: white;
  border-radius: 12px;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

/* .input button {
  background-color: #5e0e83;
  padding: 0.25rem 0.7rem;
  color: white;
}

.input button:focus {
  outline: none;
  border-color: #4f005f;
} */

.input.invalid label {
  color: red;
}

.input.invalid input {
  background: salmon;
  border-color: red;
}
